div.workingFrame{
padding-left: 20px;
border: 1px solid black;
width: 300px
}
div.Slidersdiv{
padding-top:  45px;
padding-bottom:  8px;
}
div.buttons{
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
padding-top:     2px;
padding-bottom:  10px;
}
#myProgress {
    width: 200px;
    background-color: white;
	border: 1px solid black;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}